#main {
    margin-right: auto;
    width: 70%;
}

.update-cart {
    width: 30px;
}

.important {
    color: red;
} 

.book {
    display: inline-block;
    text-align: center;
    width: 200px;
    min-height: 160px;
    margin: 1em;
    border: 1px solid black;
    vertical-align: top;
}

.label {
    display: inline-block;
    text-align: center;
    min-height: 10px;
    margin: 0em;
    margin-top: 0.5em;
    font-size: 110%;
    line-height: 1;
    color: #000;
}

#products{
    padding-top: 3em;
}

#cart {
    padding: 1em;
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid black;
    background-color: #E8E8E8;
    min-width: 30%;
}

body {
    line-height: 2.1;
    color: #333;
}

body {
	padding: 0px;
        margin: 0;
	background-color: #F6E3CE;
}
#p1{
	font-size: 18px;
	font-family: 'Open Sans';
}
#begin{
	float: right;
	margin-right: 2%;
	padding-right: 5%;
	padding-left: 5%;
}
#next{
	float: right;
	margin-right: 2%;
	padding-right: 5%;
	padding-left: 5%;
}
.wrapper{
	float:left;
	clear:left;
	display: table;
	table-layout: fixed;
}
img.img-responsive{
	display: table-cell;
	width: 100%;
}
img.img-responsive2{
	display: table-cell;
	width: 100%;
        max-height: 200px;
        clip: rect(0px, 500px,200px,0px);
}
.pozdrav{
	color: #FFFFFF;
	margin: 20px;
}
.pozdrav1{
	color: #FFFFFF;
	margin: 20px;
	font-size: 24px;
}
.logo{
	width: 100%;
	margin-top: 0px;
}

#menu{
	background-color: #dac5a4;
	font-family: 'Open Sans';
}
.navbar-default .navbar-nav > .cart > a, 
.navbar-default .navbar-nav > .cart > a:focus {
    color:#fff;
    background-color:#d9534f;
    border-color:#d43f3a
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #F6E3CE;
}

.navbar-default .navbar-nav > .active > a:hover{
	color: #FFFFFF;
    background-color: #2f76a7;
    border-color: #FFFFFF;
}

#glava {
	background-color: #2f76a7;
}
#k{
	background-color: #F2F2F2;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: #2f76a7;
    border-color: none;
}
.table-nonfluid {
	width: auto !important;
	table-layout: fixed;
	word-wrap: break-word;
}
.table-width{
	max-width: 100%;
}
span.tab{
    padding: 0 3%;
}




.btn-info {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-info {
  color: #fff;
  background-color: #428bca;
  border-color: 2px solid white;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,


.btn-info.outline {
    background: none;
    padding: 5px 10px;
    border: 2px solid white;
    color: white;
}
.btn-info.outline:hover, .btn-info.outline:focus, .btn-info.outline:active, .btn-info.outline.active {
    color: #33a6cc;
    border-color: 2px solid white;
}
.btn-info.outline:active, .btn-info.outline.active {
    border-color: 2px solid white;
    color: #007299;
    box-shadow: none;
}

/***********************
  CUSTON BTN-INFO VALUES
************************/
.btn-info {
    padding: 5px 10px;
    border: 2 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn-info:focus, .btn-info:active:focus, .btn-info.active:focus {
    outline: 0 none;
}

.portfolio-item {
    margin-bottom: 25px;
    padding: 10px; 
    padding-bottom: 0px;
    min-height : 50vh;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.portfolio-gallery {
    margin-bottom: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.portfolio-img {
    margin-bottom: 25px;
    padding: 10px; 
    padding-bottom: 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    margin: 50px 0;
}


